.movie-slider {
    margin: 40px 0;
    padding: 0 20px;
  }
  
  
  .section-title {
    font-size: 26px;
    color: #ffffff;
    margin-bottom: 15px;
    padding-left: 5px;
    border-left: 4px solid #e50914;
    font-weight: bold;
  }
  
  